* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0px 0px;
}

.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d5e1ef;
}

.qr-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 320px;
  height: 497px;

  padding-left: 30px;
  padding-right: 30px;

  background-color: white;
  stroke: #979797;
  border-radius: 20px;
  box-shadow: 0px 25px hsl(212, 45%, 89%);
}

img {
  border-radius: 10px;
}

h3 {
  text-align: center;
  margin-bottom: -2px;

  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #1f314f;
}
h4 {
  text-align: center;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #7d889e;
}
